.hamburger {
    position: relative;
    z-index: 1;
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 14px;
}

.hamburger .line {
    display: block;
    height: 2px;
    margin-bottom: 5px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    border-radius: 16px;
}

.hamburger .line:nth-child(1) {
    width: 20px;
    margin-bottom: 4px;
}

.hamburger .line:nth-child(2) {
    width: 24px;
    margin-bottom: 4px;
}

.hamburger .line:nth-child(3) {
    width: 32px;
}


@media (min-width: 768px) {
  .hamburger .line:nth-child(1) {
    width: 20px;
    margin-bottom: 6px;
}

.hamburger .line:nth-child(2) {
    width: 24px;
    margin-bottom: 6px;
}

.hamburger .line:nth-child(3) {
    width: 32px;
}

}



/* .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
} */

.nav {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    z-index: 22;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    max-width: 80%;
    height: calc(var(--screen-height, 100vh));
    margin: 0;
    background-color: #161616;
    transition: left 1s;
}

.active {
    left: 0;
}

@media (max-width: 1279px) {
    .hamburger {
        display: block;
    }
}
